#emailForm {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

#email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #282727;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type="submit"] {
    background-color: rgb(101, 91, 91);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333; 
}